body {
    background-color: #222;
    color: #BBB;
}

h1 {
    width: 100%;
    text-align:left;
}

h1 a{
    float:right;
    font-size: 50%;
}

a:link {
    color: #4AF;
}

a:visited {
    color: #A4F;
}

table {
    width: 100%;
}

p {
    line-height: 1.5em;
}

li.footnote {
    font-size: 75%;
}

textarea {
   font-family: 'Courier New', Courier, monospace;
   font-size: 14px;
   color: #DD0;
   background-color: #111;
}

tr:nth-child(even) { background: #221; }
tr:nth-child(odd) { background: #111; }